.navbar{
    align-items: center;
    gap: 290px;
    width: 100%;
position:fixed ; 
    color: white;
    height: 15vh;
    display: flex;  
    padding-left: 200px;
    font-size:20px;
    z-index: 999;        
 
};
.navbar-scroll{
    background-color: black;
 
   
}
.logo{
    color:white;
 
}

.links{
    display: flex;
    align-items: center;
    gap: 90px;

}

.link{
    color: white;
    text-decoration: none;
    font-size: 29px;
}